In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
resp = requests.get("https://restcountries.eu/rest/v2/all")

In [3]:
resp.status_code

200

In [3]:
df = pd.DataFrame(resp.json(), 
       columns=['alpha2Code','name','capital','population','area','region','borders','currencies'])

In [4]:
df.set_index('alpha2Code', inplace=True)

In [5]:
df.head()

,name,capital,population,area,region,borders,currencies
alpha2Code,,,,,,,
AF,Afghanistan,Kabul,27657145,652230.0,Asia,"[IRN, PAK, TKM, UZB, TJK, CHN]","[{'code': 'AFN', 'name': 'Afghan afghani', 'sy..."
AX,Åland Islands,Mariehamn,28875,1580.0,Europe,[],"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]"
AL,Albania,Tirana,2886026,28748.0,Europe,"[MNE, GRC, MKD, KOS]","[{'code': 'ALL', 'name': 'Albanian lek', 'symb..."
DZ,Algeria,Algiers,40400000,2381741.0,Africa,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]","[{'code': 'DZD', 'name': 'Algerian dinar', 'sy..."
AS,American Samoa,Pago Pago,57100,199.0,Oceania,[],"[{'code': 'USD', 'name': 'United State Dollar'..."

In [16]:
df.loc['IN',['capital','population','area']]

capital         New Delhi
population     1295210000
area          3.28759e+06
Name: IN, dtype: object

In [17]:
df [ df['population'] > 500000000]

,name,capital,population,area,region,borders,currencies
alpha2Code,,,,,,,
CN,China,Beijing,1377422166,9640011.0,Asia,"[AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...","[{'code': 'CNY', 'name': 'Chinese yuan', 'symb..."
IN,India,New Delhi,1295210000,3287590.0,Asia,"[AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA]","[{'code': 'INR', 'name': 'Indian rupee', 'symb..."

In [18]:
df.loc[df['population'] > 500000000, ['name','population']]

             name  population
alpha2Code
CN          China  1377422166
IN          India  1295210000

In [20]:
df.nlargest(5,'population')

,name,capital,population,area,region,borders,currencies
alpha2Code,,,,,,,
CN,China,Beijing,1377422166,9640011.0,Asia,"[AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...","[{'code': 'CNY', 'name': 'Chinese yuan', 'symb..."
IN,India,New Delhi,1295210000,3287590.0,Asia,"[AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA]","[{'code': 'INR', 'name': 'Indian rupee', 'symb..."
US,United States of America,"Washington, D.C.",323947000,9629091.0,Americas,"[CAN, MEX]","[{'code': 'USD', 'name': 'United States dollar..."
ID,Indonesia,Jakarta,258705000,1904569.0,Asia,"[TLS, MYS, PNG]","[{'code': 'IDR', 'name': 'Indonesian rupiah', ..."
BR,Brazil,Brasília,206135893,8515767.0,Americas,"[ARG, BOL, COL, GUF, GUY, PRY, PER, SUR, URY, ...","[{'code': 'BRL', 'name': 'Brazilian real', 'sy..."

In [21]:
df.nlargest(5,'area')

,name,capital,population,area,region,borders,currencies
alpha2Code,,,,,,,
RU,Russian Federation,Moscow,146599183,17124442.0,Europe,"[AZE, BLR, CHN, EST, FIN, GEO, KAZ, PRK, LVA, ...","[{'code': 'RUB', 'name': 'Russian ruble', 'sym..."
AQ,Antarctica,,1000,14000000.0,Polar,[],"[{'code': 'AUD', 'name': 'Australian dollar', ..."
CA,Canada,Ottawa,36155487,9984670.0,Americas,[USA],"[{'code': 'CAD', 'name': 'Canadian dollar', 's..."
CN,China,Beijing,1377422166,9640011.0,Asia,"[AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...","[{'code': 'CNY', 'name': 'Chinese yuan', 'symb..."
US,United States of America,"Washington, D.C.",323947000,9629091.0,Americas,"[CAN, MEX]","[{'code': 'USD', 'name': 'United States dollar..."

#### 04-SEP-2019

In [6]:
df['population'].mean()

29396548.924

In [14]:
df.loc[df['region'] == 'Europe','population'].mean()

14088456.264150944

In [18]:
df['capital'].str.upper()

alpha2Code
AF               KABUL
AX           MARIEHAMN
AL              TIRANA
DZ             ALGIERS
AS           PAGO PAGO
AD    ANDORRA LA VELLA
AO              LUANDA
AI          THE VALLEY
AQ
AG        SAINT JOHN'S
AR        BUENOS AIRES
AM             YEREVAN
AW          ORANJESTAD
AU            CANBERRA
AT              VIENNA
AZ                BAKU
BS              NASSAU
BH              MANAMA
BD               DHAKA
BB          BRIDGETOWN
BY               MINSK
BE            BRUSSELS
BZ            BELMOPAN
BJ          PORTO-NOVO
BM            HAMILTON
BT             THIMPHU
BO               SUCRE
BQ          KRALENDIJK
BA            SARAJEVO
BW            GABORONE
            ...
SY            DAMASCUS
TW              TAIPEI
TJ            DUSHANBE
TZ              DODOMA
TH             BANGKOK
TL                DILI
TG                LOMÉ
TK             FAKAOFO
TO          NUKU'ALOFA
TT       PORT OF SPAIN
TN               TUNIS
TR              ANKARA
TM            ASHGABAT
TC       COCKBURN TOWN
TV            FUNAFUTI
UG             KAMPALA
UA                KIEV
AE           ABU DHABI
GB              LONDON
US    WASHINGTON, D.C.
UY          MONTEVIDEO
UZ            TASHKENT
VU           PORT VILA
VE             CARACAS
VN               HANOI
WF            MATA-UTU
EH            EL AAIÚN
YE              SANA'A
ZM              LUSAKA
ZW              HARARE
Name: capital, Length: 250, dtype: object

In [20]:
df[ df['region'].str.startswith('A')]

,name,capital,population,area,region,borders,currencies
alpha2Code,,,,,,,
AF,Afghanistan,Kabul,27657145,652230.00,Asia,"[IRN, PAK, TKM, UZB, TJK, CHN]","[{'code': 'AFN', 'name': 'Afghan afghani', 'sy..."
DZ,Algeria,Algiers,40400000,2381741.00,Africa,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]","[{'code': 'DZD', 'name': 'Algerian dinar', 'sy..."
AO,Angola,Luanda,25868000,1246700.00,Africa,"[COG, COD, ZMB, NAM]","[{'code': 'AOA', 'name': 'Angolan kwanza', 'sy..."
AI,Anguilla,The Valley,13452,91.00,Americas,[],"[{'code': 'XCD', 'name': 'East Caribbean dolla..."
AG,Antigua and Barbuda,Saint John's,86295,442.00,Americas,[],"[{'code': 'XCD', 'name': 'East Caribbean dolla..."
AR,Argentina,Buenos Aires,43590400,2780400.00,Americas,"[BOL, BRA, CHL, PRY, URY]","[{'code': 'ARS', 'name': 'Argentine peso', 'sy..."
AM,Armenia,Yerevan,2994400,29743.00,Asia,"[AZE, GEO, IRN, TUR]","[{'code': 'AMD', 'name': 'Armenian dram', 'sym..."
AW,Aruba,Oranjestad,107394,180.00,Americas,[],"[{'code': 'AWG', 'name': 'Aruban florin', 'sym..."
AZ,Azerbaijan,Baku,9730500,86600.00,Asia,"[ARM, GEO, IRN, RUS, TUR]","[{'code': 'AZN', 'name': 'Azerbaijani manat', ..."
BS,Bahamas,Nassau,378040,13943.00,Americas,[],"[{'code': 'BSD', 'name': 'Bahamian dollar', 's..."
BH,Bahrain,Manama,1404900,765.00,Asia,[],"[{'code': 'BHD', 'name': 'Bahraini dinar', 'sy..."
BD,Bangladesh,Dhaka,161006790,147570.00,Asia,"[MMR, IND]","[{'code': 'BDT', 'name': 'Bangladeshi taka', '..."
BB,Barbados,Bridgetown,285000,430.00,Americas,[],"[{'code': 'BBD', 'name': 'Barbadian dollar', '..."
BZ,Belize,Belmopan,370300,22966.00,Americas,"[GTM, MEX]","[{'code': 'BZD', 'name': 'Belize dollar', 'sym..."
BJ,Benin,Porto-Novo,10653654,112622.00,Africa,"[BFA, NER, NGA, TGO]","[{'code': 'XOF', 'name': 'West African CFA fra..."
BM,Bermuda,Hamilton,61954,54.00,Americas,[],"[{'code': 'BMD', 'name': 'Bermudian dollar', '..."
BT,Bhutan,Thimphu,775620,38394.00,Asia,"[CHN, IND]","[{'code': 'BTN', 'name': 'Bhutanese ngultrum',..."
BO,Bolivia (Plurinational State of),Sucre,10985059,1098581.00,Americas,"[ARG, BRA, CHL, PRY, PER]","[{'code': 'BOB', 'name': 'Bolivian boliviano',..."
BQ,"Bonaire, Sint Eustatius and Saba",Kralendijk,17408,294.00,Americas,[],"[{'code': 'USD', 'name': 'United States dollar..."
BW,Botswana,Gaborone,2141206,582000.00,Africa,"[NAM, ZAF, ZMB, ZWE]","[{'code': 'BWP', 'name': 'Botswana pula', 'sym..."
BR,Brazil,Brasília,206135893,8515767.00,Americas,"[ARG, BOL, COL, GUF, GUY, PRY, PER, SUR, URY, ...","[{'code': 'BRL', 'name': 'Brazilian real', 'sy..."
IO,British Indian Ocean Territory,Diego Garcia,3000,60.00,Africa,[],"[{'code': 'USD', 'name': 'United States dollar..."
UM,United States Minor Outlying Islands,,300,NaN,Americas,[],"[{'code': 'USD', 'name': 'United States Dollar..."
VG,Virgin Islands (British),Road Town,28514,151.00,Americas,[],"[{'code': None, 'name': '[D]', 'symbol': '$'},..."
VI,Virgin Islands (U.S.),Charlotte Amalie,114743,346.36,Americas,[],"[{'code': 'USD', 'name': 'United States dollar..."
BN,Brunei Darussalam,Bandar Seri Begawan,411900,5765.00,Asia,[MYS],"[{'code': 'BND', 'name': 'Brunei dollar', 'sym..."
BF,Burkina Faso,Ouagadougou,19034397,272967.00,Africa,"[BEN, CIV, GHA, MLI, NER, TGO]","[{'code': 'XOF', 'name': 'West African CFA fra..."
BI,Burundi,Bujumbura,10114505,27834.00,Africa,"[COD, RWA, TZA]","[{'code': 'BIF', 'name': 'Burundian franc', 's..."
KH,Cambodia,Phnom Penh,15626444,181035.00,Asia,"[LAO, THA, VNM]","[{'code': 'KHR', 'name': 'Cambodian riel', 'sy..."
CM,Cameroon,Yaoundé,22709892,475442.00,Africa,"[CAF, TCD, COG, GNQ, GAB, NGA]","[{'code': 'XAF', 'name': 'Central African CFA ..."
...,...,...,...,...,...,...,...
GS,South Georgia and the South Sandwich Islands,King Edward Point,30,NaN,Americas,[],"[{'code': 'GBP', 'name': 'British pound', 'sym..."
KR,Korea (Republic of),Seoul,50801405,100210.00,Asia,[PRK],"[{'code': 'KRW', 'name': 'South Korean won', '..."
SS,South Sudan,Juba,12131000,619745.00,Africa,"[CAF, COD, ETH, KEN, SDN, UGA]","[{'code': 'SSP', 'name': 'South Sudanese pound..."
LK,Sri Lanka,Colombo,20966000,65610.00,Asia,[IND],"[{'code': 'LKR', 'name': 'Sri Lankan rupee', '..."
SD,Sudan,Khartoum,39598700,1886068.00,Africa,"[CAF, TCD, EGY, ERI, ETH, LBY, SSD]","[{'code': 'SDG', 'name': 'Sudanese pound', 'sy..."
SR,Suriname,Paramaribo,541638,163820.00,Americas,"[BRA, GUF, FRA, GUY]","[{'code': 'SRD', 'name': 'Surinamese dollar', ..."
SZ,Swaziland,Lobamba,1132657,17364.00,Africa,"[MOZ, ZAF]","[{'code': 'SZL', 'name': 'Swazi lilangeni', 's..."
SY,Syrian Arab Republic,Damascus,18564000,185180.00,Asia,"[IRQ, ISR, JOR, LBN, TUR]","[{'code': 'SYP', 'name': 'Syrian pound', 'symb..."
TW,Taiwan,Taipei,23503349,36193.00,Asia,[],"[{'code': 'TWD', 'name': 'New Taiwan dollar', ..."
TJ,Tajikistan,Dushanbe,8593600,143100.00,Asia,"[AFG, CHN, KGZ, UZB]","[{'code': 'TJS', 'name': 'Tajikistani somoni',..."
TZ,"Tanzania, United Republic of",Dodoma,55155000,945087.00,Africa,"[BDI, COD, KEN, MWI, MOZ, RWA, UGA, ZMB]","[{'code': 'TZS', 'name': 'Tanzanian shilling',..."
TH,Thailand,Bangkok,65327652,513120.00,Asia,"[MMR, KHM, LAO, MYS]","[{'code': 'THB', 'name': 'Thai baht', 'symbol'..."
TL,Timor-Leste,Dili,1167242,14874.00,Asia,[IDN],"[{'code': 'USD', 'name': 'United States dollar..."
TG,Togo,Lomé,7143000,56785.00,Africa,"[BEN, BFA, GHA]","[{'code': 'XOF', 'name': 'West African CFA fra..."
TT,Trinidad and Tobago,Port of Spain,1349667,5130.00,Americas,[],"[{'code': 'TTD', 'name': 'Trinidad and Tobago ..."
TN,Tunisia,Tunis,11154400,163610.00,Africa,"[DZA, LBY]","[{'code': 'TND', 'name': 'Tunisian dinar', 'sy..."
TR,Turkey,Ankara,78741053,783562.00,Asia,"[ARM, AZE, BGR, GEO, GRC, IRN, IRQ, SYR]","[{'code': 'TRY', 'name': 'Turkish lira', 'symb..."
TM,Turkmenistan,Ashgabat,4751120,488100.00,Asia,"[AFG, IRN, KAZ, UZB]","[{'code': 'TMT', 'name': 'Turkmenistan manat',..."
TC,Turks and Caicos Islands,Cockburn Town,31458,948.00,Americas,[],"[{'code': 'USD', 'name': 'United States dollar..."
UG,Uganda,Kampala,33860700,241550.00,Africa,"[COD, KEN, RWA, SSD, TZA]","[{'code': 'UGX', 'name': 'Ugandan shilling', '..."
AE,United Arab Emirates,Abu Dhabi,9856000,83600.00,Asia,"[OMN, SAU]","[{'code': 'AED', 'name': 'United Arab Emirates..."
US,United States of America,"Washington, D.C.",323947000,9629091.00,Americas,"[CAN, MEX]","[{'code': 'USD', 'name': 'United States dollar..."
UY,Uruguay,Montevideo,3480222,181034.00,Americas,"[ARG, BRA]","[{'code': 'UYU', 'name': 'Uruguayan peso', 'sy..."
UZ,Uzbekistan,Tashkent,31576400,447400.00,Asia,"[AFG, KAZ, KGZ, TJK, TKM]","[{'code': 'UZS', 'name': 'Uzbekistani so'm', '..."
VE,Venezuela (Bolivarian Republic of),Caracas,31028700,916445.00,Americas,"[BRA, COL, GUY]","[{'code': 'VEF', 'name': 'Venezuelan bolívar',..."
VN,Viet Nam,Hanoi,92700000,331212.00,Asia,"[KHM, CHN, LAO]","[{'code': 'VND', 'name': 'Vietnamese đồng', 's..."
EH,Western Sahara,El Aaiún,510713,266000.00,Africa,"[DZA, MRT, MAR]","[{'code': 'MAD', 'name': 'Moroccan dirham', 's..."
YE,Yemen,Sana'a,27478000,527968.00,Asia,"[OMN, SAU]","[{'code': 'YER', 'name': 'Yemeni rial', 'symbo..."
ZM,Zambia,Lusaka,15933883,752612.00,Africa,"[AGO, BWA, COD, MWI, MOZ, NAM, TZA, ZWE]","[{'code': 'ZMW', 'name': 'Zambian kwacha', 'sy..."
ZW,Zimbabwe,Harare,14240168,390757.00,Africa,"[BWA, MOZ, ZAF, ZMB]","[{'code': 'BWP', 'name': 'Botswana pula', 'sym..."

In [28]:
df['borders'].to_list()

[['IRN', 'PAK', 'TKM', 'UZB', 'TJK', 'CHN'],
 [],
 ['MNE', 'GRC', 'MKD', 'KOS'],
 ['TUN', 'LBY', 'NER', 'ESH', 'MRT', 'MLI', 'MAR'],
 [],
 ['FRA', 'ESP'],
 ['COG', 'COD', 'ZMB', 'NAM'],
 [],
 [],
 [],
 ['BOL', 'BRA', 'CHL', 'PRY', 'URY'],
 ['AZE', 'GEO', 'IRN', 'TUR'],
 [],
 [],
 ['CZE', 'DEU', 'HUN', 'ITA', 'LIE', 'SVK', 'SVN', 'CHE'],
 ['ARM', 'GEO', 'IRN', 'RUS', 'TUR'],
 [],
 [],
 ['MMR', 'IND'],
 [],
 ['LVA', 'LTU', 'POL', 'RUS', 'UKR'],
 ['FRA', 'DEU', 'LUX', 'NLD'],
 ['GTM', 'MEX'],
 ['BFA', 'NER', 'NGA', 'TGO'],
 [],
 ['CHN', 'IND'],
 ['ARG', 'BRA', 'CHL', 'PRY', 'PER'],
 [],
 ['HRV', 'MNE', 'SRB'],
 ['NAM', 'ZAF', 'ZMB', 'ZWE'],
 [],
 ['ARG', 'BOL', 'COL', 'GUF', 'GUY', 'PRY', 'PER', 'SUR', 'URY', 'VEN'],
 [],
 [],
 [],
 [],
 ['MYS'],
 ['GRC', 'MKD', 'ROU', 'SRB', 'TUR'],
 ['BEN', 'CIV', 'GHA', 'MLI', 'NER', 'TGO'],
 ['COD', 'RWA', 'TZA'],
 ['LAO', 'THA', 'VNM'],
 ['CAF', 'TCD', 'COG', 'GNQ', 'GAB', 'NGA'],
 ['USA'],
 [],
 [],
 ['CMR', 'TCD', 'COD', 'COG', 'SSD', 'SDN'],
 ['CMR', 'CAF', 'LBY', 'NER', 'NGA', 'SSD'],
 ['ARG', 'BOL', 'PER'],
 ['AFG',
  'BTN',
  'MMR',
  'HKG',
  'IND',
  'KAZ',
  'PRK',
  'KGZ',
  'LAO',
  'MAC',
  'MNG',
  'PAK',
  'RUS',
  'TJK',
  'VNM'],
 [],
 [],
 ['BRA', 'ECU', 'PAN', 'PER', 'VEN'],
 [],
 ['AGO', 'CMR', 'CAF', 'COD', 'GAB'],
 ['AGO', 'BDI', 'CAF', 'COG', 'RWA', 'SSD', 'TZA', 'UGA', 'ZMB'],
 [],
 ['NIC', 'PAN'],
 ['BIH', 'HUN', 'MNE', 'SRB', 'SVN'],
 [],
 [],
 ['GBR'],
 ['AUT', 'DEU', 'POL', 'SVK'],
 ['DEU'],
 ['ERI', 'ETH', 'SOM'],
 [],
 ['HTI'],
 ['COL', 'PER'],
 ['ISR', 'LBY', 'SDN'],
 ['GTM', 'HND'],
 ['CMR', 'GAB'],
 ['DJI', 'ETH', 'SDN'],
 ['LVA', 'RUS'],
 ['DJI', 'ERI', 'KEN', 'SOM', 'SSD', 'SDN'],
 [],
 [],
 [],
 ['NOR', 'SWE', 'RUS'],
 ['AND', 'BEL', 'DEU', 'ITA', 'LUX', 'MCO', 'ESP', 'CHE'],
 ['BRA', 'SUR'],
 [],
 [],
 ['CMR', 'COG', 'GNQ'],
 ['SEN'],
 ['ARM', 'AZE', 'RUS', 'TUR'],
 ['AUT', 'BEL', 'CZE', 'DNK', 'FRA', 'LUX', 'NLD', 'POL', 'CHE'],
 ['BFA', 'CIV', 'TGO'],
 ['ESP'],
 ['ALB', 'BGR', 'TUR', 'MKD'],
 [],
 [],
 [],
 [],
 ['BLZ', 'SLV', 'HND', 'MEX'],
 [],
 ['CIV', 'GNB', 'LBR', 'MLI', 'SEN', 'SLE'],
 ['GIN', 'SEN'],
 ['BRA', 'SUR', 'VEN'],
 ['DOM'],
 [],
 ['ITA'],
 ['GTM', 'SLV', 'NIC'],
 ['CHN'],
 ['AUT', 'HRV', 'ROU', 'SRB', 'SVK', 'SVN', 'UKR'],
 [],
 ['AFG', 'BGD', 'BTN', 'MMR', 'CHN', 'NPL', 'PAK', 'LKA'],
 ['TLS', 'MYS', 'PNG'],
 ['BFA', 'GHA', 'GIN', 'LBR', 'MLI'],
 ['AFG', 'ARM', 'AZE', 'IRQ', 'PAK', 'TUR', 'TKM'],
 ['IRN', 'JOR', 'KWT', 'SAU', 'SYR', 'TUR'],
 ['GBR'],
 [],
 ['EGY', 'JOR', 'LBN', 'SYR'],
 ['AUT', 'FRA', 'SMR', 'SVN', 'CHE', 'VAT'],
 [],
 [],
 [],
 ['IRQ', 'ISR', 'SAU', 'SYR'],
 ['CHN', 'KGZ', 'RUS', 'TKM', 'UZB'],
 ['ETH', 'SOM', 'SSD', 'TZA', 'UGA'],
 [],
 ['IRN', 'SAU'],
 ['CHN', 'KAZ', 'TJK', 'UZB'],
 ['MMR', 'KHM', 'CHN', 'THA', 'VNM'],
 ['BLR', 'EST', 'LTU', 'RUS'],
 ['ISR', 'SYR'],
 ['ZAF'],
 ['GIN', 'CIV', 'SLE'],
 ['DZA', 'TCD', 'EGY', 'NER', 'SDN', 'TUN'],
 ['AUT', 'CHE'],
 ['BLR', 'LVA', 'POL', 'RUS'],
 ['BEL', 'FRA', 'DEU'],
 ['CHN'],
 ['ALB', 'BGR', 'GRC', 'KOS', 'SRB'],
 [],
 ['MOZ', 'TZA', 'ZMB'],
 ['BRN', 'IDN', 'THA'],
 [],
 ['DZA', 'BFA', 'GIN', 'CIV', 'MRT', 'NER', 'SEN'],
 [],
 [],
 [],
 ['DZA', 'MLI', 'SEN', 'ESH'],
 [],
 [],
 ['BLZ', 'GTM', 'USA'],
 [],
 ['ROU', 'UKR'],
 ['FRA'],
 ['CHN', 'RUS'],
 ['ALB', 'BIH', 'HRV', 'KOS', 'SRB'],
 [],
 ['DZA', 'ESH', 'ESP'],
 ['MWI', 'ZAF', 'SWZ', 'TZA', 'ZMB', 'ZWE'],
 ['BGD', 'CHN', 'IND', 'LAO', 'THA'],
 ['AGO', 'BWA', 'ZAF', 'ZMB'],
 [],
 ['CHN', 'IND'],
 ['BEL', 'DEU'],
 [],
 [],
 ['CRI', 'HND'],
 ['DZA', 'BEN', 'BFA', 'TCD', 'LBY', 'MLI', 'NGA'],
 ['BEN', 'CMR', 'TCD', 'NER'],
 [],
 [],
 ['CHN', 'KOR', 'RUS'],
 [],
 ['FIN', 'SWE', 'RUS'],
 ['SAU', 'ARE', 'YEM'],
 ['AFG', 'CHN', 'IND', 'IRN'],
 [],
 ['ISR', 'EGY', 'JOR'],
 ['COL', 'CRI'],
 ['IDN'],
 ['ARG', 'BOL', 'BRA'],
 ['BOL', 'BRA', 'CHL', 'COL', 'ECU'],
 [],
 [],
 ['BLR', 'CZE', 'DEU', 'LTU', 'RUS', 'SVK', 'UKR'],
 ['ESP'],
 [],
 ['SAU'],
 ['ALB', 'MKD', 'MNE', 'SRB'],
 [],
 ['BGR', 'HUN', 'MDA', 'SRB', 'UKR'],
 ['AZE',
  'BLR',
  'CHN',
  'EST',
  'FIN',
  'GEO',
  'KAZ',
  'PRK',
  'LVA',
  'LTU',
  'MNG',
  'NOR',
  'POL',
  'UKR'],
 ['BDI', 'COD', 'TZA', 'UGA'],
 [],
 [],
 [],
 [],
 ['SXM', 'NLD'],
 [],
 [],
 [],
 ['ITA'],
 [],
 ['IRQ', 'JOR', 'KWT', 'OMN', 'QAT', 'ARE', 'YEM'],
 ['GMB', 'GIN', 'GNB', 'MLI', 'MRT'],
 ['BIH', 'BGR', 'HRV', 'HUN', 'KOS', 'MKD', 'MNE', 'ROU'],
 [],
 ['GIN', 'LBR'],
 [],
 ['MAF'],
 ['AUT', 'CZE', 'HUN', 'POL', 'UKR'],
 ['AUT', 'HRV', 'ITA', 'HUN'],
 [],
 ['DJI', 'ETH', 'KEN'],
 ['BWA', 'LSO', 'MOZ', 'NAM', 'SWZ', 'ZWE'],
 [],
 ['PRK'],
 ['CAF', 'COD', 'ETH', 'KEN', 'SDN', 'UGA'],
 ['AND', 'FRA', 'GIB', 'PRT', 'MAR'],
 ['IND'],
 ['CAF', 'TCD', 'EGY', 'ERI', 'ETH', 'LBY', 'SSD'],
 ['BRA', 'GUF', 'FRA', 'GUY'],
 [],
 ['MOZ', 'ZAF'],
 ['FIN', 'NOR'],
 ['AUT', 'FRA', 'ITA', 'LIE', 'DEU'],
 ['IRQ', 'ISR', 'JOR', 'LBN', 'TUR'],
 [],
 ['AFG', 'CHN', 'KGZ', 'UZB'],
 ['BDI', 'COD', 'KEN', 'MWI', 'MOZ', 'RWA', 'UGA', 'ZMB'],
 ['MMR', 'KHM', 'LAO', 'MYS'],
 ['IDN'],
 ['BEN', 'BFA', 'GHA'],
 [],
 [],
 [],
 ['DZA', 'LBY'],
 ['ARM', 'AZE', 'BGR', 'GEO', 'GRC', 'IRN', 'IRQ', 'SYR'],
 ['AFG', 'IRN', 'KAZ', 'UZB'],
 [],
 [],
 ['COD', 'KEN', 'RWA', 'SSD', 'TZA'],
 ['BLR', 'HUN', 'MDA', 'POL', 'ROU', 'RUS', 'SVK'],
 ['OMN', 'SAU'],
 ['IRL'],
 ['CAN', 'MEX'],
 ['ARG', 'BRA'],
 ['AFG', 'KAZ', 'KGZ', 'TJK', 'TKM'],
 [],
 ['BRA', 'COL', 'GUY'],
 ['KHM', 'CHN', 'LAO'],
 [],
 ['DZA', 'MRT', 'MAR'],
 ['OMN', 'SAU'],
 ['AGO', 'BWA', 'COD', 'MWI', 'MOZ', 'NAM', 'TZA', 'ZWE'],
 ['BWA', 'MOZ', 'ZAF', 'ZMB']]