In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
resp = requests.get("https://restcountries.eu/rest/v2/all")

In [3]:
resp.status_code

200

In [9]:
df = pd.DataFrame(resp.json(), 
       columns=['alpha2Code','name','capital','population','area','region','borders','currencies'])

In [12]:
df.set_index('alpha2Code', inplace=True)

In [14]:
df.head()

,name,capital,population,area,region,borders,currencies
alpha2Code,,,,,,,
AF,Afghanistan,Kabul,27657145,652230.0,Asia,"[IRN, PAK, TKM, UZB, TJK, CHN]","[{'code': 'AFN', 'name': 'Afghan afghani', 'sy..."
AX,Åland Islands,Mariehamn,28875,1580.0,Europe,[],"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]"
AL,Albania,Tirana,2886026,28748.0,Europe,"[MNE, GRC, MKD, KOS]","[{'code': 'ALL', 'name': 'Albanian lek', 'symb..."
DZ,Algeria,Algiers,40400000,2381741.0,Africa,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]","[{'code': 'DZD', 'name': 'Algerian dinar', 'sy..."
AS,American Samoa,Pago Pago,57100,199.0,Oceania,[],"[{'code': 'USD', 'name': 'United State Dollar'..."

In [16]:
df.loc['IN',['capital','population','area']]

capital         New Delhi
population     1295210000
area          3.28759e+06
Name: IN, dtype: object

In [17]:
df [ df['population'] > 500000000]

,name,capital,population,area,region,borders,currencies
alpha2Code,,,,,,,
CN,China,Beijing,1377422166,9640011.0,Asia,"[AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...","[{'code': 'CNY', 'name': 'Chinese yuan', 'symb..."
IN,India,New Delhi,1295210000,3287590.0,Asia,"[AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA]","[{'code': 'INR', 'name': 'Indian rupee', 'symb..."

In [18]:
df.loc[df['population'] > 500000000, ['name','population']]

             name  population
alpha2Code
CN          China  1377422166
IN          India  1295210000

In [20]:
df.nlargest(5,'population')

,name,capital,population,area,region,borders,currencies
alpha2Code,,,,,,,
CN,China,Beijing,1377422166,9640011.0,Asia,"[AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...","[{'code': 'CNY', 'name': 'Chinese yuan', 'symb..."
IN,India,New Delhi,1295210000,3287590.0,Asia,"[AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA]","[{'code': 'INR', 'name': 'Indian rupee', 'symb..."
US,United States of America,"Washington, D.C.",323947000,9629091.0,Americas,"[CAN, MEX]","[{'code': 'USD', 'name': 'United States dollar..."
ID,Indonesia,Jakarta,258705000,1904569.0,Asia,"[TLS, MYS, PNG]","[{'code': 'IDR', 'name': 'Indonesian rupiah', ..."
BR,Brazil,Brasília,206135893,8515767.0,Americas,"[ARG, BOL, COL, GUF, GUY, PRY, PER, SUR, URY, ...","[{'code': 'BRL', 'name': 'Brazilian real', 'sy..."

In [21]:
df.nlargest(5,'area')

,name,capital,population,area,region,borders,currencies
alpha2Code,,,,,,,
RU,Russian Federation,Moscow,146599183,17124442.0,Europe,"[AZE, BLR, CHN, EST, FIN, GEO, KAZ, PRK, LVA, ...","[{'code': 'RUB', 'name': 'Russian ruble', 'sym..."
AQ,Antarctica,,1000,14000000.0,Polar,[],"[{'code': 'AUD', 'name': 'Australian dollar', ..."
CA,Canada,Ottawa,36155487,9984670.0,Americas,[USA],"[{'code': 'CAD', 'name': 'Canadian dollar', 's..."
CN,China,Beijing,1377422166,9640011.0,Asia,"[AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...","[{'code': 'CNY', 'name': 'Chinese yuan', 'symb..."
US,United States of America,"Washington, D.C.",323947000,9629091.0,Americas,"[CAN, MEX]","[{'code': 'USD', 'name': 'United States dollar..."