In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([56,67,88,99,33])

In [4]:
s

0    56
1    67
2    88
3    99
4    33
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

In [6]:
s[0]

56

In [7]:
s[0:3]

0    56
1    67
2    88
dtype: int64

In [2]:
marks = pd.Series([56,67,88,99,33], index=[101,102,103,105,106])

In [9]:
marks

101    56
102    67
103    88
105    99
106    33
dtype: int64

In [3]:
s = pd.Series( np.random.randint(1,100,10), np.arange(1,11))

In [12]:
s

1     17
2     47
3     86
4     91
5     98
6     50
7     85
8     61
9     25
10    69
dtype: int32

In [16]:
s.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [27]:
s.iloc[0], s.loc[1], s[1]

(17, 17, 17)

In [19]:
players = pd.Series( {'A':30,'B':32, 'C':20})

In [20]:
players

A    30
B    32
C    20
dtype: int64

In [21]:
players.index

Index(['A', 'B', 'C'], dtype='object')

In [24]:
players['A'], players.loc['A'], players[0]

(30, 30, 30)

In [28]:
players['A' : 'C']

A    30
B    32
C    20
dtype: int64

In [29]:
players.loc['A':'C']

A    30
B    32
C    20
dtype: int64

In [30]:
players.size

3

In [31]:
players.is_unique

True

In [33]:
players['A'] = 32

In [34]:
players

A    32
B    32
C    20
dtype: int64

In [35]:
players.is_unique

False

In [36]:
players.axes

[Index(['A', 'B', 'C'], dtype='object')]

In [37]:
players.index

Index(['A', 'B', 'C'], dtype='object')

In [39]:
marks.describe()

count     5.000000
mean     68.600000
std      26.120873
min      33.000000
25%      56.000000
50%      67.000000
75%      88.000000
max      99.000000
dtype: float64

In [40]:
for t in marks.items():
    print(t)

(101, 56)
(102, 67)
(103, 88)
(105, 99)
(106, 33)

In [46]:
marks.agg([np.mean,sum, min, max])

mean     68.6
sum     343.0
min      33.0
max      99.0
dtype: float64

In [51]:
marks[102] = 56

In [52]:
marks

101    56
102    56
103    88
105    99
106    33
dtype: int64

In [53]:
marks.mode()

0    56
dtype: int64

In [55]:
s.tail()

6     50
7     85
8     61
9     25
10    69
dtype: int32

In [57]:
s.head(3)

1    17
2    47
3    86
dtype: int32

#### apply()

In [7]:
def min_50(n):
    return 50 if n < 50 else n

In [8]:
print(s)
s.apply(lambda n: 50 if n < 50 else n)
s.apply(min_50)

1     50
2     77
3     26
4     67
5     46
6     48
7     68
8     65
9     24
10    47
dtype: int32

1     50
2     77
3     50
4     67
5     50
6     50
7     68
8     65
9     50
10    50
dtype: int64

In [9]:
marks

101    56
102    67
103    88
105    99
106    33
dtype: int64

In [10]:
marks.to_dict()

{101: 56, 102: 67, 103: 88, 105: 99, 106: 33}

In [11]:
marks.to_json()

'{"101":56,"102":67,"103":88,"105":99,"106":33}'

In [12]:
marks.mode()

0    33
1    56
2    67
3    88
4    99
dtype: int64

In [13]:
s

1     50
2     77
3     26
4     67
5     46
6     48
7     68
8     65
9     24
10    47
dtype: int32

In [15]:
s.value_counts()

47    1
46    1
77    1
26    1
24    1
68    1
67    1
50    1
65    1
48    1
dtype: int64

In [22]:
ages = pd.Series([50,45,35,35,50,60,23,56,np.nan,35,40, np.nan])

In [23]:
ages.value_counts()

35.0    3
50.0    2
40.0    1
56.0    1
23.0    1
60.0    1
45.0    1
dtype: int64

In [27]:
ages.sort_values(ascending=False,na_position='first')

8      NaN
11     NaN
5     60.0
7     56.0
4     50.0
0     50.0
1     45.0
10    40.0
9     35.0
3     35.0
2     35.0
6     23.0
dtype: float64

### Handling NA/NAN values

In [30]:
ages.isna()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11     True
dtype: bool

In [33]:
ages[ages.isna()].index

Int64Index([8, 11], dtype='int64')

In [34]:
ages.dropna()

0     50.0
1     45.0
2     35.0
3     35.0
4     50.0
5     60.0
6     23.0
7     56.0
9     35.0
10    40.0
dtype: float64

In [35]:
ages

0     50.0
1     45.0
2     35.0
3     35.0
4     50.0
5     60.0
6     23.0
7     56.0
8      NaN
9     35.0
10    40.0
11     NaN
dtype: float64

In [37]:
ages.fillna(np.mean(ages))

0     50.0
1     45.0
2     35.0
3     35.0
4     50.0
5     60.0
6     23.0
7     56.0
8     42.9
9     35.0
10    40.0
11    42.9
dtype: float64

In [38]:
ages.rank()

0      7.5
1      6.0
2      3.0
3      3.0
4      7.5
5     10.0
6      1.0
7      9.0
8      NaN
9      3.0
10     5.0
11     NaN
dtype: float64

In [39]:
marks

101    56
102    67
103    88
105    99
106    33
dtype: int64

In [40]:
prices = pd.Series([100,135,135,120,150])

In [44]:
prices.rank(ascending=False, method='first')

0    5.0
1    2.0
2    3.0
3    4.0
4    1.0
dtype: float64

In [46]:
prices.quantile(.25)

120.0

In [47]:
marks.quantile(0.75)

88.0

In [48]:
np.quantile(marks,.25)

56.0