In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [2]:
df = sb.load_dataset('tips')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### 04-SEP-2019

In [6]:
df['day'].unique()

[Sun, Sat, Thur, Fri]
Categories (4, object): [Sun, Sat, Thur, Fri]

In [10]:
def encode_week(v):
    weekdict = {'Sun':1, 'Sat' : 7, 'Fri':6, 'Thur' : 5}
    return  weekdict.get(v,0)

In [11]:
df['day'].apply(encode_week)

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     7
20     7
21     7
22     7
23     7
24     7
25     7
26     7
27     7
28     7
29     7
      ..
214    7
215    7
216    7
217    7
218    7
219    7
220    6
221    6
222    6
223    6
224    6
225    6
226    6
227    7
228    7
229    7
230    7
231    7
232    7
233    7
234    7
235    7
236    7
237    7
238    7
239    7
240    7
241    7
242    7
243    5
Name: day, Length: 244, dtype: category
Categories (4, int64): [5, 6, 7, 1]

In [25]:
def process_row(s):
    #print(s)
    return (s['tip'] / s['total_bill']) * 100

In [18]:
df.loc[0:10,['total_bill','tip']].apply(lambda s : s[s.notna()].count(), axis=1)

0     2
1     2
2     2
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
dtype: int64

In [26]:
df.loc[0:10,['total_bill','tip']].apply(process_row, axis=1)

0      5.944673
1     16.054159
2     16.658734
3     13.978041
4     14.680765
5     18.623962
6     22.805017
7     11.607143
8     13.031915
9     21.853857
10    16.650438
dtype: float64

In [34]:
df.loc[0:4,['total_bill','tip']].applymap(lambda v : "%5.0f" % (v))

  total_bill    tip
0         17      1
1         10      2
2         21      4
3         24      3
4         25      4

In [40]:
df['day'].str.startswith('S')

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
       ...
214     True
215     True
216     True
217     True
218     True
219     True
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227     True
228     True
229     True
230     True
231     True
232     True
233     True
234     True
235     True
236     True
237     True
238     True
239     True
240     True
241     True
242     True
243    False
Name: day, Length: 244, dtype: bool